html,body{
    margin:0;
    padding:0;
    
}
#root{
    height:100vh;
}
.outerContainer{
    display: flex;
    justify-content: center;
    height: 100vh;
    text-align: center;
    
    background: #2b5876;
    background: -webkit-linear-gradient(to bottom, #4e4376, #2b5876); 
    background: linear-gradient(to bottom, #4e4376, #2b5876);

    align-items: center;
}
.innerContainer{
    width: 40%;
    height: 44%;
    background-color: black;
    text-align: center;
    border-radius: 5px;
}

.namefield{
    margin-top: 3vh;
    border:none;
    padding: 12px 18px;
    width: 70%;
    outline: none;
    font-size:20px;
}
.roomfield{
    margin-top: 3vh;
    border:none;
    padding: 12px 18px;
    width: 70%;
    outline: none;
    font-size:20px;
}
.join-btn{
    margin-top: 3vh;
    width: 70%;
    padding:8px;
    background-color: cadetblue;
    outline:none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.head1{
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    height: 7vh;
    color: white;
}
.msg-icon1{
    height: 45px;
    width: 45px;
    padding:5px;
}
@media screen and (max-width:600px){
    .innerContainer{
        width: 90%;
        height: 47%;
        background-color: black;
        text-align: center;
    }
}
#footer1{
    margin-top:30px ;
}